<h1>The Day's Events</h1>
<%= form_tag events_path, method: :get do %>
    <%= select_tag :event, options_for_select(Event.all.collect { |e| [e.start.strftime('%A'), e.id] }), name: "event[]" %>
    <%= submit_tag 'Select another day' %>
<% end %>

<div style="verticle-align: top; display: inline">
  <% @tracks.each do |track| %>
      <table border="1">
        <thead>
        <h2><%= track.name %></h2>
        <tr>
          <th>
            Start
          </th>
          <th>
            Finish
          </th>
          <th>
            Event Name
          </th>
        </tr>
        </thead>
        <tbody>
        <% track.events.on_day(@date).each do |event| %>
            <tr>
              <td>
                <%= event.start.strftime('%m/%d/%Y at %I:%M%p') %>
              </td>
              <td>
                <%= event.finish.strftime('%m/%d/%Y at %I:%M%p') %>
              </td>
              <td>
                <%= event.name %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
</div>