<h1>Today's Events</h1>
<form action="/events">
  <select>
    <% Event.all.each do |event| %>
        <option value="<%= event.start %>"><%= event.start.strftime('%a') %></option>
    <% end %>
  </select>
  <input type="submit" value="Choose another day"/>
</form>
<div style="verticle-align: top; display: inline">
  <% @tracks.each do |track| %>
      <table border="1">
        <thead>
        <h2><%= track.name %></h2>
        <tr>
          <th>
            Start
          </th>
          <th>
            Finish
          </th>
          <th>
            Event Name
          </th>
        </tr>
        </thead>
        <tbody>
        <% track.events.on_day(@date).each do |event| %>
            <tr>
              <td>
                <%= event.start.strftime('%m/%d/%Y at %I:%M%p') %>
              </td>
              <td>
                <%= event.finish.strftime('%m/%d/%Y at %I:%M%p') %>
              </td>
              <td>
                <%= event.name %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
</div>